@import 'mixins';

.main-header,
.main-body,
.main-bottom{
    padding: 0 2.5rem;
    &--inner{
        display: flex;
        max-width: 1920px;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
}

.main-body--inner{
    flex-direction: column;
    // justify-content: center;
}

.main-header{
    margin: 1rem 0 2.5rem 0;
     
     &--inner{
       align-items: center;
       border-bottom: 0.6rem solid  var(--low);

        .header--content{
            display: flex;
            
            div{
                padding-left: 5rem;
                a{
                    padding-left: 2rem;
                }
            }

            .socials {
                display: flex;
                button {
                    border: 0;
                    background-color: transparent;
                    padding-left: 10px;
                    cursor: pointer;
                    // margin-bottom: 0;
                    // vertical-align: bottom;
                    // margin: auto 0;
                }
            }
            .social-image {
                height: 19px;
            }          
        }

     }
}
@include iPad(){
    .main-header{
        &--inner{
            .header--content{
                div{
                    padding-left: 2rem;
                    a{
                        padding-left: 2rem;
                    }
                }
            } 
        }
    }
}
.top-nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding-bottom: 10rem;
    div{
        padding-top: 2rem !important;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        button{
            background-color: transparent;
            border: 0;
        }

        button:hover{
            color: var(--midLow);
            cursor: pointer;
        }
        #anim:hover{
            color: var(--midLow);
            cursor: pointer;
            animation: swing 0.5s ease;
            animation-iteration-count: 1;
        }

    }
}
@keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}

.still-header, 
.animation-header{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    &--inner{
        display: flex;
        // width: 9%;
        justify-content: center;
        border-bottom: 0.6rem solid  var(--low);        
    }
}

.still-content,
.animation-content{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    height: 100%;
    div{
        display: flex;
        // height: 100%;
        // justify-content: center;
        flex-direction: column;
        img{
            margin: 0 auto;
            height: 90%;
            width: 90%;
        }
        h1{
            margin: auto;
        }
        iframe{
            aspect-ratio: 4/5;
            height: 90%;
            width: 90%;
            margin: 0 auto;
        } 
    }

}
@include iPad(){
    .still-content,
    .animation-content{
        grid-template-columns: 1fr 1fr;
        
    }
    .phone-hide{
        display: none !important;
    }
}

.main-bottom{
    background-color: var(--low);
    .main-bottom--inner{
        .contact{
            margin:  0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;
            p{
                padding: 1rem;
            }
        }
    }
}
// .main-body{
//     background-color: var(--low);
// }