@import "mixins";
:root{
    --low: #393B44;
    --midLow: #8D93AB;
    --midHigh: #D6E0F0;
    --high: #F1F3F8;
}
.main-header{
    margin: 1rem 0 2.5rem 0;
     
     &--inner{
       align-items: center;
       border-bottom: 0.6rem solid  var(--low);

        .header--content{
            display: flex;
            
            div{
                // padding-left: 5rem;
                a{
                    padding-left: 2rem;
                }
            }

            .socials {
                display: flex;
                button {
                    border: 0;
                    background-color: transparent;
                    padding-left: 10px;
                    cursor: pointer;
                    // margin-bottom: 0;
                    // vertical-align: bottom;
                    // margin: auto 0;
                }
            }
            .social-image {
                height: 19px;
            }          
        }

     }
}
@include iPad(){
    .main-header{
        &--inner{
            .header--content{
                div{
                    padding-left: 2rem;
                    a{
                        padding-left: 2rem;
                    }
                }
            } 
        }
    }
}

.main-header,
.main-body,
.main-bottom{
    padding: 0 2.5rem;
    &--inner{
        display: flex;
        max-width: 1920px;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{ 
        padding-top: 3rem;
        text-align: center;
        width: 90%;
    }
}



.main-body--inner{
    flex-direction: column;
    padding-bottom: 3rem;
}

.carousel{
    padding-top: 3rem;
    // width: 100%;
    img{
        width: 100%;
    }
}

.carousel-content-fixed{
    position: absolute;
    z-index: 1;
    top: 5rem;
    padding-left: 3rem;

    h1{
        padding-bottom: 3rem;
        color: var(--high) !important;
    }

    .gallery-button{
        padding: 0.5rem;

        border-style: solid;
        border-color: var(--midlow);
        border-radius: 0.25rem;
        border-width: 0.4rem;
        background-color: transparent;

        cursor: pointer;
        
    }:hover{
            // color: var(--midHigh);
        color: var(--high);
    }
}


.main-bottom{
    background-color: var(--low);
    .main-bottom--inner{
        // flex-direction: column;
        justify-content: space-evenly;
        padding-top: 3rem;
        padding-bottom: 3rem;
        .current-events{
            display: flex;
            flex-direction: column;

            a{
                padding-top: 1rem;
            }
        }
        .contact{
            display: flex;
            flex-direction: column;
            p{
                padding-top: 1rem;                
            }

        }
    }
}