
:root{
  --low: #393B44;
  --midLow: #8D93AB;
  --midHigh: #D6E0F0;
  --high: #F1F3F8;
  background: var(--);
}

* {
    font-family:'Raleway';
    margin: 0;
    padding: 0;
}

.Raleway-Large-Dark {
  color: var(--low);
  font-size: 50px;
  font-weight: 800;  
}

.Raleway-Med-Dark {
  color: var(--low);
  font-size: 36px;
  font-weight: 700;
}

.Raleway-Low-Dark {
  color: var(--midLow);
  font-size: 26px;
  font-weight: 600;
}

.Raleway-Large-Light {
  color: var(--high);
  font-size: 50px;
  font-weight: 800;  
}

.Raleway-Med-Light {
  color: var(--high);
  font-size: 36px;
  font-weight: 700;
}

.Raleway-Low-Light {
  color: var(--midLow);
  font-size: 26px;
  font-weight: 600;
}

.Raleway-Med-midLow {
  color: var(--midLow);
  font-size: 36px;
  font-weight: 700;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.divider{
  width: 95vw;
  height: 6px;
  border-width: 0;
  background-color: var(--low);
  justify-content: center;
  margin: auto;
}

.socials>button{
  border: 0;
  background-color: transparent;
  padding-left: 10px;
}
.social-image {
  height: 19px;
}


.main-top{
  height: 50vmax;
  /* overflow: auto; */
}

.grid-container {
  display: grid;
  grid-template-columns: 2.5vw 32vw 4vw auto 2.5vw;
  grid-template-rows: 2vh 80% auto;
  /* padding: 10px; */

}

.main-image{
  width: 100%;
  height: auto;
  object-fit: cover; 
  grid-column: 2;
  grid-row: 2;
}

.side-text{
  grid-column: 4;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.side-text>div>h1{
  padding-bottom: 10px;
}

.about-user{
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  /* padding: 20px; */
  width: 100%;
  
}
.pfp{
  width: 12.5%;
  height: auto;
}

.bottom-title {
  grid-column: 2;
  grid-row: 3;
  /* padding-top: 10px; */
}

.nft-button {
  width: 700px;
  height: 60px;
  border-color: var(--low);
  border-width: 3px;
  background-color:transparent;
}


.bottom-main{
  background-color: var(--low);
  height: 1000px;
}

.grid-bottom-container{
  display: grid;
  grid-template-columns: 2.5vw 1000px 100px 400px auto;
  grid-template-rows: 5vh 550px;
}

.collectors{
  grid-column: 2;
  grid-row: 2;
}

.collector-list{
  /* width: 100%; */
  padding-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-text{
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content:space-between;
}

.image-text>img{
  height: 100px;
  width: auto;
  /* align-self:flex-start; */
}

.colaborators{
  grid-column: 4;
  grid-row: 2;
  margin: 0 auto;
}

.list{
  /* padding-top: 100px; */
  margin: 0 auto;
  height: 90%;
  width:100%;
  overflow-y: auto;
}

.input-search{
  background-color:transparent;
  border-width:0;
  margin: 5px;
  outline: none;
}
.input-border{
  margin-top: 20px;
  border: 5px solid var(--high); 
}

