:root {
    --light:#97BC62FF;
    --dark: #2C5F2D;
}

* {
    color: var(--fontColor);
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}
.btn:focus {outline-style: none;}

/* #msg {
    font-family: monospace;
} */

.light-theme {
    --bg: var(--light);
    --fontColor: var(--dark);
    --btnBg: var(--dark);
    --btnFontColor: var(--light);
  }
.dark-theme {
    --bg: var(--dark);
    --fontColor: var(--light);
    --btnBg: var(--light);
    --btnFontColor: var(--dark);
}
