@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap');

:root{
  --low: #393B44;
  --midLow: #8D93AB;
  --midHigh: #D6E0F0;
  --high: #F1F3F8;

  --collectorColor: var(--midLow);
  --collectorHighlightColor: #faf6eb;
  --normalHoverColor: var(--midHigh);

  --largeFontSize: 4.8rem;
  --medFontSize: 3.4rem;
  --lowFontSize: 2.5rem;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    a{
      color: var(--midLow);
    }
  }

  
  .raleway{
      &-Large-Dark {
        color: var(--low);
        font-size: var(--largeFontSize);
        font-weight: 800;
      }

      &-Med-Dark {
        color: var(--low);
        font-size: var(--medFontSize);
        font-weight: 700;
      }

      &-Low-Dark {
        color: var(--midLow);
        font-size: var(--lowFontSize);
        font-weight: 600;
      }

      &-Large-Light {
        color: var(--midHigh);
        font-size: var(--largeFontSize);
        font-weight: 800;
      }

      &-Med-Light {
        color: var(--midHigh);
        font-size: var(--medFontSize);
        font-weight: 700;
      }

      &-Low-Light {
        color: var(--midLow);
        font-size: var(--lowFontSize);
        font-weight: 600;
      }

      &-Med-midLow {
        color: var(--midLow);
        font-size: var(--medFontSize);
        font-weight: 700;
      }
  }
  .socials > button {
    border: 0;
    background-color: transparent;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .social-image {
    height: 19px;
  }
  


  .selected{
    color:var(--midHigh)
  }

  .collectorType{
    color:var(--collectorColor) !important;
  }


  .normalHover{
    color:var(--normalHoverColor)!important;
  }
  .collectorHover{
    color:var(--collectorHighlightColor) !important;
  }
  .modal {
    display: block;
    position: fixed;
  
    /* Stay in place */
    z-index: 1;
  
    /* Sit on top */
    padding-top: 100px;
    // margin-top: 10rem;
  
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
  
    /* Full width */
    height: 100%;
  
    /* Full height */
    overflow: auto;
  
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
  
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
  
    /* Black w/ opacity */

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
      justify-content: space-between;
      text-align: center;
      background-color: var(--high);
      margin: auto;
      padding: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 4rem;
      width: 70%;

    }    
  }
  
  /* Modal Content */


  // Fixed width for inner containers
  .main-header,
  .main-body,
  .main-bottom{
      padding: 0 2.5rem;
      &--inner{
          display: flex;
          max-width: 1920px;
          width: 100%;
          margin: auto;
          justify-content: space-between;
      }
  }

  // nft-button
  .button{
    border-color: var(--low);
    border-width: 4px;
    background-color:transparent;
    width: 100%;
    padding: 1rem;
    margin: 2.5rem 0;
    border-style: solid;

    &:hover{
        cursor: pointer;
        color: var(--midLow);
        border-color: var(--midlow);
    }
    &--dark{
      border-color: var(--midHigh);
      border-width: 4px;      
      background-color:transparent;
      width: 50%;
      padding: 1rem;
      // margin: 2.5rem 0;
      // margin: auto;
      // margin: auto;
      border-style: solid;

      &:hover{
        cursor: pointer;
        color: var(--high);
        border-color: var(--high);
    }
    }
  }

  // Flex containers
  .flex{
      display: flex;
  }
  
  // Main Header
  .main-header{
     margin: 1rem 0 2.5rem 0;
      
      &--inner{
        align-items: center;
        border-bottom: 0.6rem solid  var(--low);
      }
  }

  // Main Body
  .main-body{
    &--inner{       
        .main-images--wrap,
        .main-description{
            align-items: flex-start;
            // align-items: space-between;
            overflow: hidden;
        }

        .side-text{
          height: calc(90% - 20rem);
          padding-bottom: 10rem;
          display: flex;
          // align-items: space-between;
          justify-content: space-between;
          flex-direction: column;
        }

        // Main Images
        .main-images{
            &--wrap{
                text-align: center;
                width: 35%;

                h1{
                    margin: 1rem 0;
                }
            }

            position: relative;

            img{
                width: 100%;
                object-fit: cover;
            }

            img:not(.base-image) {
                position: absolute;
                top:0;
                left:0;
                opacity: 0;

                &:hover{
                    cursor: pointer;

                }
            }
            
        }

        // Main description
        .main-description{
            width: calc(60% - 5rem);

            h1{
                line-height: 3.5rem;
                margin-bottom: 2rem;
            }

            // Info
            .about-user{
                margin: 5rem 0;
                display: flex;
                align-items: center;

                img{
                    border-radius: 50%;
                    width: 15rem;
                    margin-right: 4rem;
                }
                a{
                  color: #393B44;
                }
                a:hover{
                  color:var(--midLow)
                }
            }

        }
    }
  }

// IPad
@include iPad(){
    .main-body--inner{
        flex-direction: column;   

        .main-images--wrap{
            margin-bottom: 2.5rem;
        }

        h1{
          text-align: center;
          padding-bottom: 1rem;
          padding-top: 1rem;
        }

        .main-images--wrap{
          width: 100%;
          h1{
            display:none;
          }
        }
        .main-description {
            width: 100%;
        }  
    }
}


  // Main Bottom
  .main-bottom{
      margin-top: 2.5rem;
      background: var(--low);

      &--inner{
          padding: 2.5rem 0;

          h2{
              margin-bottom: 2.5rem;
          }

          // Person
          .person{
            &:not(:last-child){
                margin-bottom: 4rem;
              }

              &--image{
                img{
                    border-radius: 50%;
                    max-width: 15rem;
                }
              }

              .image-text{
                  display: flex;
                  align-items: center;
              }

              &--desc{
                display:first;
                align-items: center;

                h3{
                    margin-bottom: 1.5rem;
                }

                margin-left: 4rem;
              }
          }

      }

      &--collectors{
        width: 65%;
        // display: flex;
        .collector-container{
          display: flex;
          position: relative;

        }
        // .slick-initialized{
        //   display: flex;
        //   flex-direction: column;
        //   // align-items: center;
        // }

        // .slick-next:before {

        //   padding-left: 2rem;
        //   font-size: 3rem;
        //   color: var(--midHigh) !important;

        // }
        // .slick-next{
        //   // position: relative;
        //   width: 100%;
        //   padding-top: 2.5rem;

        //   // font-size: 3rem;
        // }
        // .slick-next::before{
        //   // align-self: center;
        //   // margin: auto;
        //   font-size: 6rem;
        //   border-width: 10rem;
        //   // width: 100% !im;
        // }


      }

      &--collaborators{
        width: 30%;

        ol{
            margin-left: 3.5rem;
            // margin-right: 100rem;
            margin: auto 0;
            list-style-type: none;
            

            li{
                padding: 1rem 0;
                margin-left: 0.5rem;
                display: flex;
                // position: relative;
                // flex-direction: row;
                // list-style-type: none;
                // margin: auto;
                .eth-logo{
                  // position: absolute;
                  width: 1.7rem;
                  height: auto;
                  padding-left: 1rem;
                  margin: auto 0;
                  // opacity: 50%;
                  transform: translatey(13%);
                  // bottom: 0;
                }
                button{
                    background: none;
                    border: none;
                    font-size: var(--medFontSize);
                    color: var(--midLow);
                    
                    &:hover{
                        cursor: pointer;
                        // color:var(--hoverColor);
                    }
                }
            }
        }

        .collaborator--search{
            padding: 2rem 0;

           input{
                background: none;
                border:4px solid var(--midHigh);
                width: 90%;
                padding: 1rem;
                color: var(--midLow);
                font-size: var(--lowFontSize);
                font-weight: 600;
                outline: none;



                &:focus{
                    border-color: var(--high);
                }
           }
        }
      }

      &--info{
        width: 100%;
        margin-top: 2.5rem;
        // text-align: center;
        // p{
        //   margin-top: 2.5rem;
        //   padding-bottom: 2.5rem;
        //   padding-left: 8rem;
        //   padding-right: 8rem;
        //   // text-align:center;
     
        // }
        .who{
          margin-top: 5rem;
          padding-bottom: 5rem;
          // margin-top: 5rem;
          // padding-bottom: 2.5rem;
          padding-left:10%;
          padding-right:10%;
          text-align:center;

          h1{
            padding-bottom: 2.5rem;
          }  
           
        }
        .thanks{
          margin-top: 2.5rem;
          padding-bottom: 5rem;

          padding-left:10%;
          padding-right:10%;
          text-align:center;
          h1{
            padding-bottom: 2.5rem;
          }  
        }

        
      }
  }

  // IPad
@include iPad(){
    .main-bottom--inner{
        flex-direction: column-reverse;   

        .main-bottom--collectors{
            margin-bottom: 2.5rem;
        }

        .main-bottom--collectors,
        .main-bottom--collaborators{
            width: 100%;
            input{
                width: calc(100% - 2.5rem);
            }
            // margin: auto;
        }
        .main-bottom--collaborators{
          // margin: auto;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          ol{
            columns: 2;
          }
        }
        .collaborator--search{
          width: 80%;
          padding-bottom: 5rem;
        }
     
    }
}
