
:root{
  --low: #393B44;
  --midLow: #8D93AB;
  --midHigh: #D6E0F0;
  --high: #F1F3F8;

  --largeFontSize: 50px;
  --medFontSize: 36px;
  --lowFontSize: 27px;
  background: var(--);
}

* {
    font-family:'Raleway';
    margin: 0;
    padding: 0;
}

.Raleway-Large-Dark {
  color: var(--low);
  font-size: var(--largeFontSize);
  font-weight: 800;  
}

.Raleway-Med-Dark {
  color: var(--low);
  font-size: var(--medFontSize);
  font-weight: 700;
}

.Raleway-Low-Dark {
  color: var(--midLow);
  font-size: var(--lowFontSize);
  font-weight: 600;
}

.Raleway-Large-Light {
  color: var(--high);
  font-size: var(--largeFontSize);
  font-weight: 800;  
}

.Raleway-Med-Light {
  color: var(--high);
  font-size: var(--medFontSize);
  font-weight: 700;
}

.Raleway-Low-Light {
  color: var(--midLow);
  font-size: var(--lowFontSize);
  font-weight: 600;
}

.Raleway-Med-midLow {
  color: var(--midLow);
  font-size: var(--medFontSize);
  font-weight: 700;
}

.flex-container{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.divider{
  width: 95vw;
  height: 6px;
  border-width: 0;
  background-color: var(--low);
  justify-content: center;
  margin: auto;
}

.socials>button{
  border: 0;
  background-color: transparent;
  padding-left: 10px;
}
.social-image {
  height: 19px;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  justify-content: space-between;
  text-align: center;
  background-color: var(--high);
  margin: auto;
  padding: 20px;
  padding-bottom: 30px;
  width: 80%;
}



.main-top{
  height: 95vh;
  overflow: auto;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 2.5vw 32vw 4vw auto 2.5vw;
  grid-template-rows: 2vh 80% auto;
  /* padding: 10px; */

}
.main-images{
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.main-images>img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.selector-images{
  opacity: 0%;
}

.base-image{
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.side-text{
  grid-column: 4;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: space-between;

}
.side-text>div>h1{
  padding-bottom: 10px;
}

.about-user{
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  /* padding: 20px; */
  width: 100%;
  
}
.pfp{
  width: 12.5%;
  height: auto;
}

.wrap{
  overflow-wrap: break-word;
}

.bottom-title {
  grid-column: 2;
  grid-row: 3;
  /* padding-top: 10px; */
}

.button {
  width: 90%;
  height: 60px;
  border-color: var(--low);
  border-width: 3px;
  background-color:transparent;
  align-self: center;
}

.button:hover{
  background-color:var(--low);
  color: var(--high);
  border-width: 0px;
}
button:hover>h1{
  color: var(--high);
}


.bottom-main{
  background-color: var(--low);
  height: 100vw;
  width: 100%;

}

.grid-bottom-container{
  display: grid;
  grid-template-columns: 2.5vw 50vw auto;
  grid-template-rows: 100% 550px;
  padding-top: 3%;
}

.collectors{
  grid-column: 2;
  grid-row: 2;
}

.collector-list{
  padding-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-text{
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content:space-between;
}

.person{
  padding-top: 20px;
}

.image-text>img{
  height: 100px;
  width: auto;
  /* align-self:flex-start; */
}

.colaborators{
  grid-column: 4;
  grid-row: 2;
  margin: 0 auto;
}

.list{
  /* padding-top: 100px; */
  margin: 0 auto;
  height: auto;
  max-height: 100%;
  width:100%;
  overflow-y: auto;
}

.btn{
  background-color: transparent;
  border-width: 0;
}

.btn:hover{
  color: var(--midHigh);
}

.selected{
  color: var(--midHigh);
}

.input-search{
  background-color:transparent;
  border-width:0;
  margin: 5px;
  outline: none;
}
.input-border{
  margin-top: 20px;
  border: 5px solid var(--high); 
}

